/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.timer {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-family: Arial, sans-serif;
  font-size: 24px;
  margin-top: 20px;
}

.field {
  text-align: center;
}

.value {
  display: block;
  font-size: 48px;
  font-weight: bold;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
}

.flatpickr-input {
  padding: 8px;
}

.btn {
  border-radius: 4px;
  background-color: #0a0a23;
  color: #fff;
  width: 80px;
  height: 30px;
}

.btn:focus,
.btn:hover {
  background-color: #747bff;
  border: none;
}

.fieldset {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 12px;
}

.btn-snackbar {
  border-radius: 4px;
  background-color: #0a0a23;
  color: #fff;
  width: 180px;
  height: 30px;
}

.btn-snackbar:focus,
.btn-snackbar:hover {
  background-color: #747bff;
  border: none;
}
